body {
  background-image: url("./images/background.jpg");
  background-size: cover;
}

.App h5, .App h4 {
  text-align: center;
}

#header {
  margin: 0 0 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}

#links a:not(:first-child) {
  margin-left: 20px;
}

#searchbar {
  display: flex;
  justify-content: center;
}

#searchbar form input, #searchbar form button {
  box-sizing: border-box;
  padding: 0;
  height: 50px;
  border: 2px solid black;
  font-size: 18px;
}

#searchbar form input {
  width: 300px;
  border-radius: 10px 0 0 10px;
  border-right: 0px;
  padding-left: 20px;
}

#searchbar form input:focus {
  outline: none;
}

#searchbar form button {
  width: 100px;
  border-radius: 0 10px 10px 0;
  border-left: 0px;
  transition: 0.1s ease;
}

#searchbar form button:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

.weather-container {
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin: 15px 5% 15px 5%;
  transition: .25s ease;
  display: flex;
  justify-content: space-between;
}

.weather-container:hover {
  filter: contrast(120%);
}

.weather-container h3 {
  font-weight: normal;
  margin: 2px 0 2px 0;
}

.weather-container > h3::first-letter {
  text-transform: capitalize;
}

.weather {
  margin-top: 40px;
}

.weather > div:not(:first-child) {
  margin-left: 50px;
}

.weather, .wind {
  display: flex;
  align-items: center;
}

#sunrise::before {
  content: "🌕";
}

#sunset::before {
  content: "🌑";
}

.wind h1 {
  margin: 0;
  font-size: 30px;
}

.wind img {
  height: 30px;
  margin-left: 10px;
}

.temps {
  display: flex;
  align-items: center;
}

.temps > div {
  border-left: 2px solid white;
  padding-left: 10px;
}

.temps h1 {
  font-size: 60px;
  line-height: 60px;
  padding-right: 10px;
  margin: 0;
}

.temps h2, .daytimes h1 {
  font-size: 25px;
  line-height: 25px;
  margin: 0;
}

.sunny {
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.cloudy {
  background: linear-gradient(145deg, #797979 0%, #bebebe 58%);
}

.rainy {
  background: linear-gradient(145deg, #464646 0%, #0a4d61 50%, #284650 93%);
}

.snowy {
  background: linear-gradient(145deg, #e6e6e6 0%, #e3e3e3 58%);
  color: #353535;
}

.weather-container.snowy .temps > div {
  border-left: 2px solid #353535;
}

.weather-container.snowy .wind img {
  filter: brightness(25%);
}

.haze {
  background: linear-gradient(0deg, #a4a4a4 0%, #e3e3e3 11%, #a4a4a4 42%, #e3e3e3 79%, #a4a4a4 100%);
}